@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700&display=swap");
* {
  font-family: "kumbh sans", "sans-serif";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #131313;
}

section {
  padding: 7rem 10%;
}

.btn {
  color: white;
  font-size: 3rem;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 1.5rem 3.5rem;
  display: inline-block;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  margin-top: 2rem;
}

.btn::before {
  content: "";
  background: #ff1ead;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  border-radius: 0.5rem;
  z-index: -1;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.btn:hover::before {
  width: 100%;
  color: white;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #131313;
  z-index: 100;
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  font-size: 3rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

header nav {
  margin-left: auto;
}

header nav a {
  font-size: 2rem;
  color: white;
  margin-right: 5rem;
}

header nav a:hover {
  color: #833ab4;
}

header nav .nav-btn {
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
}

header nav .nav-btn:hover {
  color: white;
}

.home {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20rem 10%;
}

.home .content {
  text-align: center;
}

.home .content h1 {
  font-size: 10rem;
  color: white;
}

.home .content h1 span {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff6a00), to(#ee0979));
  background-image: linear-gradient(to right, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .content p {
  font-size: 6rem;
  margin: 1rem 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#8f0eff), to(#da22ff));
  background-image: linear-gradient(to right, #8f0eff, #da22ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
}

.about .box-container .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  text-align: center;
  height: 40rem;
  background: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .box-container .card i {
  font-size: 15rem;
  color: white;
}

.about .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .box-container .box h3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff087b), to(#ed1a52));
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  text-transform: uppercase;
}

.about .box-container .box h2 {
  background: -webkit-gradient(linear, left top, right top, from(#8f0eff), to(#da22ff));
  background: linear-gradient(to right, #8f0eff, #da22ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  text-transform: none;
  margin: 2rem 0;
}

.about .box-container .box h4 {
  color: white;
  font-size: 3rem;
  text-transform: none;
  margin-bottom: 1rem;
}

.service .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.service .box {
  text-align: center;
  padding: 12rem 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.service .box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service .box:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.service .box:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(#a6ffcb), color-stop(#12d8fa), to(#1fa2ff));
  background: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
}

.service .box:nth-child(3) {
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
}

.service .box:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.service .box h3 {
  color: white;
  font-size: 2.5rem;
}

.service .box p {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0;
}

.service .box .black-btn {
  color: white;
  background-color: #000000;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  display: inline-block;
}

.contact .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  gap: 5rem;
}

.contact .box-container .card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  text-align: center;
  height: 40rem;
  background: -webkit-gradient(linear, left top, right top, from(#dd2476), to(#ff512f));
  background: linear-gradient(to right, #dd2476, #ff512f);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .box-container .card i {
  font-size: 15rem;
  color: white;
}

.contact .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .box-container .box h3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff087b), to(#ed1a52));
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  text-transform: uppercase;
}

.contact .box-container .box h2 {
  background: -webkit-gradient(linear, left top, right top, from(#8f0eff), to(#da22ff));
  background: linear-gradient(to right, #8f0eff, #da22ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  text-transform: none;
  margin: 2rem 0;
}

.contact .box-container .box h4 {
  color: white;
  font-size: 3rem;
  text-transform: none;
  margin-bottom: 1rem;
}

footer {
  padding: 7rem 10%;
}

footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  padding: 0 5%;
}

footer .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

footer .box-container .box h3 {
  color: white;
  font-size: 3rem;
}

footer .box-container .box p {
  color: white;
  font-size: 1.7rem;
  margin: 1rem 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
  margin-top: 5rem;
  padding: 0 5%;
  gap: 2rem;
}

footer .container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

footer .container .box h3 {
  font-size: 4rem;
  color: white;
}

footer .container .box p {
  color: white;
  font-size: 2rem;
}

footer .container .box .icons {
  text-align: center;
}

footer .container .box .icons i {
  color: white;
  font-size: 2.5rem;
  margin-right: 2rem;
}

@media (max-width: 1024px) {
  section {
    padding: 5rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem 5%;
  }
}

@media (max-width: 768px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #131313;
    padding-bottom: 3rem;
    -webkit-transform: translateY(-115%);
            transform: translateY(-115%);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  header nav.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  header nav a {
    display: block;
    text-align: center;
    margin: 3rem 0;
    font-size: 2.5rem;
  }
  header nav .nav-btn {
    margin: 1rem 9rem;
    padding: 3rem;
  }
  header .menu-bar span {
    width: 3rem;
    height: 0.4rem;
    background: white;
    cursor: pointer;
    margin: 0.7rem 0;
    display: block;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  header .menu-bar span:nth-child(2).active {
    opacity: 0;
  }
  header .menu-bar span:nth-child(1).active {
    -webkit-transform: translateY(1.1rem) rotate(45deg);
            transform: translateY(1.1rem) rotate(45deg);
  }
  header .menu-bar span:nth-child(3).active {
    -webkit-transform: translateY(-1.1rem) rotate(-45deg);
            transform: translateY(-1.1rem) rotate(-45deg);
  }
  section {
    padding: 5rem 2rem;
  }
}
/*# sourceMappingURL=style.css.map */